
::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {
		//margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
		width: 1135px;
		margin:auto;
	}
	button{
		height: 130px;
		border-radius: 15px;
		border:none;
		outline: none;
		cursor: pointer;
		width:130px;
	}
	img{
		width: 70px;
		height: 70px;
	}
	#action{
		border:1px solid #D0D0D0;
		width: 200px;	
		position: relative;	
	}
	
	input {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
		width:300px;
	}
	#div-entry{
		border: 1px solid #D0D0D0;
		width:57%;
		position: absolute;
		margin-top: -671px;
		margin-left: 202px;
		height: 669px;
		border-left: none;
	}
	
	.editdiv{		
		position: absolute;
		margin-top: -370px;
		margin-left: 201px;
		height: 669px;
		border: 1px solid #D0D0D0;
		border-left: none;
	}	
	#result{	
		width: auto;
		position: absolute;
		margin-top: -671px;
		margin-left: 202px;
		height: 669px;
		border: 1px solid #D0D0D0;	
	}
	#welcome{
		margin-left: 202px;
		border: 1px solid #D0D0D0;
		height: 669px;
		position: absolute;	
		width: 57%;
	}
	.search{
		position: absolute;
		margin-top: -520px;
		margin-left: 201px;
		height: 669px;
		border: 1px solid #D0D0D0;
		border-left: none;
	}
	#searchresult{
		position: absolute;
		margin-top: -520px;
		margin-left: 201px;
		height: 669px;
		border: 1px solid #D0D0D0;
		border-left: none;
	}
	table { 
        color: #333;
        font-family: Helvetica, Arial, sans-serif;
      	width: 900px; 
        border-collapse: collapse;
        border-spacing: 0;     
    }
	 td, th { 
        border: 1px solid transparent; /* No more visible border */
        height: 30px; 
        transition: all 0.3s;  /* Simple transition for hover effect */
    }

    th {
        background: #DFDFDF;  /* Darken header a bit */
        font-weight: bold;
    }
     td {
        //background: #FAFAFA;
        text-align: center;
    }