<html>

<head>
  <title>Catalogue</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
  <h3>catalogue</h3>
  Currently we have <!-- {num_authors} --> authors with <!-- {num_books} --> books on record.
  <br>
  <br>
  <table width="350" cellspacing="0" cellpadding="3">
	<!-- begin loop {authors} -->
      <tr bgcolor="#000066">
	    <td>
		  <font color="#ffffff">
		    <b>
			  <!-- {name} -->
			</b>
		  </font>
		</td>
	  </tr>
	  <tr bgcolor="#aaaaff">
		<td>
		  <!-- begin loop {books} -->
		    <li>
		      <font color="#000066">
			    <!-- {title} -->
			  </font>
		    </li>
		  <!-- end loop -->
		</td>
      </tr>
	<!-- end loop -->
  </table>
</body>

</html>